<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTzI8rmBcz7TZHKhC2qsl0aPY6HvIXlckAgvw&usqp=CAU">
    <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
    <title>Répertoire</title>
</head>
<body>
    <h1 onclick="goBack()" class="modifier"> Répertoire Téléphonique </h1>
    <p>{{resultat}}</p>
   
    <script>
        function goBack(){
            window.history.go(-2);
        }
    </script>
<style>
    h1.modifier:hover, h1.modifier:active {font-size: 350%;}
    h1.modifier:hover, h1.modifier:active {color: blueviolet;}
</style>
</body>
</html>